.CountryList{ 
    font-size: 20px;
    cursor: pointer;
    color: #000;
    text-shadow: 1px 1px 0 #ccc;
}
.CountryList:hover{
    text-shadow: 1px 1px 0 #000;
    color: rgb(106, 161, 161);
}

.CountryList[tabindex]:focus{
    color: teal;
    outline: none;
    text-shadow: 1px 1px 0 #000;
}